<style>
  <%- include('index.css') -%>
</style>

<% touhou.forEach(item => { %>
  <% const side = item.id % 2 ? 'right' : 'left' %>
  <% let description = item.content.substring(0, 100) %>
  <% description += item.content.length > 100 ? ' ...' : '' %>
  <div class="touhou card">
    <div class="touhou-cover <%- 'touhou-cover-' + side %>">
      <a href="<%- item.id %>">
        <img src="<%- item.cover %>" title="<%- item.title %>">
      </a>
    </div>
    <div class="touhou-info <%- 'touhou-info-' + side %>">
      <a class="touhou-info-title" href="<%- item.id %>"><%- item.title %></a>
      <div class="touhou-info-content"><%- description %></div>
      <a class="touhou-info-more fas fa-ellipsis-h" href="<%- item.id %>"></a>
    </div>
  </div>
<% }) %>
