<style>
  <%- include('index.css') %>
</style>

<% touhou.forEach((item, index) => { %>
  <% const url = index + 1 + '/index.html' %>
  <% const side = index % 2 ? 'left' : 'right' %>
  <% const description = item.content.substring(0, 100) %>
  <% description += item.content.length > 100 ? ' ...' : '' %>
  <div class="touhou">
    <div class="touhou-cover <%- 'touhou-cover-' + side %>">
      <a href="<%- item.url %>">
        <img src="<%- item.cover %>" title="<%- item.title %>">
      </a>
    </div>
    <div class="touhou-info <%- 'touhou-info-' + side %>">
      <a class="touhou-info-title" href="<%- item.url %>"><%- item.title %></a>
      <div class="touhou-info-content"><%- description %></div>
      <a class="touhou-info-more fas fa-ellipsis-h" href="<%- item.url %>"></a>
    </div>
  </div>
<% }) %>
