<style>
  <%- include('touhou.css') -%>
</style>

<div class="touhou card">
  <div class="touhou-canvas">
    <canvas id="canvas" width="640" height="400" oncontextmenu="event.preventDefault()"></canvas>
    <div id="control">
      <i class="fas fa-fw fa-xs fa-volume-up" onclick="Module.muteAudio()" aria-hidden="true"></i>
      <i class="fas fa-fw fa-xs fa-expand" onclick="Module.requestFullscreen(true, false)" aria-hidden="true"></i>
    </div>
    <div id="loading">
      <div id="spinner"></div>
      <div id="status">Downloading...</div>
    </div>
    <progress id="progress" value="0" max="100" hidden></progress>
  </div>
  <div class="touhou-content">
    <h2 align="center"><%- touhou.title.split(' ')[0] + 'バックストーリー' %></h2>
    <%- touhou.content %>
  </div>
</div>

<script>
  <%- include('touhou.js') -%>
</script>
<script async src="th<%- touhou.id %>.js"></script>
